* {
    font-family: 'Segoe UI', sans-serif;
}

.main_header {
    background: #fff;
    box-shadow: 0 3px 3px rgba(0,0,0,.1);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.main_header_logo {
    font-size: 30px;
    color: #212121;
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
}

.main_header_nav_inner_container {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    list-style: none;
}

.main_header_link_wrap {
    padding: 0 15px;
}

.main_header_link {
    color: #707070;
    transition: all 0.4s ease-in-out;
}

.main_header_link:hover {
    color: #212121;
}

.height_space {
    width: 100%;
    height: 65px;
}

/* 首頁 */
.index_about_img_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index_about_img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.index_about_title {
    text-align: center;
    margin-bottom: 20px;
    line-height: 1;
}

.index_about_title_zh {
    font-size: 36px;
    color: #4FC3F7;
    margin-bottom: 5px;
    font-weight: bold;
}

.index_about_title_en {
    font-size: 24px;
    color: #F48FB1;
}

.index_about_content {
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
}

/* 首頁 - 最新消息 */
.index_news_title {
    text-align: center;
    margin-bottom: 20px;
    line-height: 1;
}

.index_news_title_zh {
    font-size: 36px;
    color: #4FC3F7;
    margin-bottom: 5px;
    font-weight: bold;
}

.index_news_title_en {
    font-size: 24px;
    color: #F48FB1;
}

.index_news_list {
    display: flex;
    color: #212121;
    margin-bottom: 15px;
}

.index_news_list:hover {
    text-decoration: none;
    color: #212121;
}

.index_news_year_and_date {
    text-align: center;
    font-size: 20px;
    padding: 0 15px;
}

.index_news_list_title {
    font-weight: bold;
    font-size: 24px;
    border-bottom: 1px solid #212121;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.index_news_list_summary {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

/* 首頁 - 資訊卡 */
.index_info_card {
    padding: 0 15px;
    margin-bottom: 30px;
}

.index_info_card_img {
    width: 100%; /* 300 x 180 */
    height: auto;
    object-fit: cover;
    margin-bottom: 15px;
}

.index_info_card_title {
    font-weight: bold;
    font-size: 20px;
}

.index_info_card_text {
    line-height: 1.5;
}

/* 首頁 - 服務客戶 */
.index_service_customer_title {
    text-align: center;
    margin-bottom: 20px;
    line-height: 1;
}

.index_service_customer_title_zh {
    font-size: 36px;
    color: #4FC3F7;
    margin-bottom: 5px;
    font-weight: bold;
}

.index_service_customer_title_en {
    font-size: 24px;
    color: #F48FB1;
}

.index_service_customer_img_wrap {
    width: 20%;
    padding: 0 10px;
    margin-bottom: 20px;
}

.index_service_customer_img {
    width: 100%;
    height: auto;
}

@media (max-width: 991px) {
    .index_service_customer_img_wrap {
        width: 25%;
    }
}

@media (max-width: 767px) {
    .index_service_customer_img_wrap {
        width: 33.33%;
    }
}

@media (max-width: 767px) {
    .index_service_customer_img_wrap {
        width: 50%;
    }
}

/* 頁腳 */
.main_footer_body {
    background: #212121;
    padding: 80px 15px 40px;    
}

.main_footer_icon_container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.main_footer_icon_href {
    margin: 0 15px;
    font-size: 24px;
    color: #fff;
    background: #00B8D4;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
}

.main_footer_icon_href:hover {
    text-decoration: none;
    color: #fff;
    background: #F48FB1;
}

.main_footer_nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_footer_link_wrap {
    padding: 0 25px;
}

@media (max-width: 575px) {
    .main_footer_link_wrap {
        padding: 0 15px;
    }
}

.main_footer_link_wrap:not(:last-child) {
    border-right: 1px solid #fff;
}

.main_footer_link {
    color: #fff;
    transition: all 0.4s ease-in-out;
}

.main_footer_link:hover {
    text-decoration: none;
    color: #F48FB1;
}

.main_footer_copyright {
    padding: 10px 15px;
    text-align: center;
    color: #fff;
    background: #00B8D4;
}

/* ========== 內頁共同項目 ========== */
.page_banner {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page_banner_content {
    text-align: center;
    width: 100%;
    max-width: 600px;
}

.page_banner_title {
    color: #4FC3F7;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 60px;
    line-height: 1;
    text-shadow: 2px 2px 2px rgba(255,255,255,.5);
}

.page_banner_subtitle {
    font-size: 40px;
    color: #F48FB1;
    line-height: 1;
    text-shadow: 2px 2px 2px #fff;
}

@media (max-width: 767px) {
    .page_banner {
        height: 400px;
    }

    .page_banner_title {
        font-size: 40px;
    }

    .page_banner_subtitle {
        font-size: 28px;
    }
}

@media (max-width: 575px) {
    .page_banner {
        height: 300px;
    }
}

/* ========== 關於我們 ========== */

.about_banner {
    background: url('../img/about_banner.jpg') no-repeat center / cover;
}

.about_content {
    line-height: 1.5;
    font-size: 24px;
    text-align: center;
    color: #707070;
}

@media (max-width: 767px) {
    .about_content {
        font-size: 20px;
    }
}

/* ========== 最新消息 ========== */

.news_banner {
    background: url('../img/about_banner.jpg') no-repeat center / cover;
}

.news_list {
    display: flex;
    align-items: flex-start;
    color: #212121;
    margin-bottom: 40px;
    transition: all 0.4s ease-in-out;
}

.news_list:hover {
    text-decoration: none;
    color: #212121;
    opacity: 0.7;
}

.news_list_content {
    width: 70%;
    display: flex;
    align-items: center;
}

.news_list_year_and_date {
    text-align: center;
    font-size: 20px;
    padding: 0 15px;
}

.news_list_text {
    width: calc(100% - 90px);
    padding-right: 15px;
}

.news_list_title {
    font-weight: bold;
    font-size: 24px;
    border-bottom: 1px solid #212121;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news_list_summary {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.news_list_img_wrap {
    width: 30%;
    padding-bottom: calc(30% / 300 * 180);
    position: relative;
}

.news_list_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ========== 最新消息 - 內頁 ========== */

.news_content_head {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.news_content_year_and_date {
    text-align: center;
    font-size: 20px;
    padding: 0 15px;
}

.news_content_title {
    width: calc(100% - 90px);
    font-weight: bold;
    font-size: 36px;
    border-bottom: 1px solid #212121;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news_content_cover_img_wrap {
    width: 100%;
    padding-bottom: calc(100% / 300 * 180);
    position: relative;
}

.news_content_cover_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news_content_text {
    line-height: 1.5;
    font-size: 24px;
    text-align: center;
    color: #707070;
}

@media (max-width: 767px) {
    .news_content_title {
        font-size: 24px;
    }
    
    .news_content_text {
        font-size: 20px;
    }
}

/* ========== 聯絡我們 ========== */

